# Clock works at 100Mhz
NET "input_clk" LOC = J1;
TIMESPEC TS_input_clk = PERIOD "input_clk" 10 ns HIGH 50 % INPUT_JITTER 100 ps;

# serial port receive & transmit
NET "uart_rx" LOC = D1;
NET "uart_tx" LOC = B1;
# Async inputs anyway
NET "uart_rx" TIG;
NET "uart_tx" TIG;

# TTL level serial port: ja3 = rxd, ja2 = txd
NET "aux_uart_tx" LOC = D22;
NET "aux_uart_rx" LOC = B22;
NET "aux_uart_rx" PULLUP;
NET "aux_uart_tx" TIG;
NET "aux_uart_rx" TIG;

# Button 0
NET "reset" LOC = A4;
# Kinda asyncronous :D
NET "reset" TIG;

NET "switch_config[0]" LOC = D6;
NET "switch_config[1]" LOC = C6;
NET "switch_config[2]" LOC = C8;
# Ignore I/O timing!
NET "switch_config[*]" TIG;

# Clock set to 190MHz but usually we get around 150MHz (timing closue is really difficult!)
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 190 MHz HIGH 50 %;


#INST "toplevel_bruteforcer" AREA_GROUP = "All";
#AREA_GROUP "All" RANGE=CLOCKREGION_X0Y0:CLOCKREGION_X1Y10;

AREA_GROUP "Center" RANGE=CLOCKREGION_X1Y5:CLOCKREGION_X1Y6;
AREA_GROUP "Top" RANGE=CLOCKREGION_X0Y7:CLOCKREGION_X1Y11, CLOCKREGION_X0Y6:CLOCKREGION_X0Y6;
AREA_GROUP "Bottom" RANGE=CLOCKREGION_X0Y0:CLOCKREGION_X1Y4, CLOCKREGION_X0Y5:CLOCKREGION_X0Y5;

AREA_GROUP "CoreArea" RANGE=SLICE_X0Y12:SLICE_X127Y189;
AREA_GROUP "CoreArea" RANGE=RAMB8_X0Y6:RAMB8_X5Y93;

# Map cgen to the small box above, to reduce wasted space
AREA_GROUP "SmallBox" RANGE=SLICE_X34Y160:SLICE_X39Y175, SLICE_X0Y160:SLICE_X33Y191;
AREA_GROUP "SmallBox" RANGE=RAMB8_X0Y80:RAMB8_X1Y95;

#INST "*cgen*" AREA_GROUP = "SmallBox";

#INST "*md5_core*" AREA_GROUP = "BiggerLimits";
#AREA_GROUP "BiggerLimits" RANGE=SLICE_X0Y7:SLICE_X127Y182;
#AREA_GROUP "BiggerLimits" RANGE=RAMB16_X0Y4:RAMB16_X5Y88;
#AREA_GROUP "BiggerLimits" RANGE=RAMB8_X0Y4:RAMB8_X5Y89;

# PlanAhead Generated physical constraints 

AREA_GROUP "V1" RANGE=SLICE_X22Y2:SLICE_X29Y189, SLICE_X12Y0:SLICE_X21Y191, SLICE_X0Y2:SLICE_X11Y189;
AREA_GROUP "V1" RANGE=RAMB16_X0Y0:RAMB16_X1Y94;
AREA_GROUP "V1" RANGE=RAMB8_X0Y0:RAMB8_X1Y95;
AREA_GROUP "V2" RANGE=SLICE_X32Y0:SLICE_X63Y190, SLICE_X30Y2:SLICE_X31Y189;
AREA_GROUP "V2" RANGE=RAMB16_X2Y8:RAMB16_X2Y78;
AREA_GROUP "V2" RANGE=RAMB8_X2Y8:RAMB8_X2Y79;
AREA_GROUP "V3" RANGE=SLICE_X82Y16:SLICE_X97Y175, SLICE_X80Y8:SLICE_X81Y183, SLICE_X72Y0:SLICE_X79Y190, SLICE_X64Y2:SLICE_X71Y189;
AREA_GROUP "V3" RANGE=RAMB16_X3Y8:RAMB16_X3Y86;
AREA_GROUP "V3" RANGE=RAMB8_X3Y8:RAMB8_X3Y87;
AREA_GROUP "V4" RANGE=SLICE_X116Y2:SLICE_X127Y189, SLICE_X98Y0:SLICE_X115Y191;
AREA_GROUP "V4" RANGE=RAMB16_X4Y0:RAMB16_X5Y94;
AREA_GROUP "V4" RANGE=RAMB8_X4Y0:RAMB8_X5Y95;

INST "bruteforcer/G1[0].G2[0].md5_core*" AREA_GROUP = "V1";
INST "bruteforcer/G1[0].G2[1].md5_core*" AREA_GROUP = "V2";
INST "bruteforcer/G1[2].G2[0].md5_core*" AREA_GROUP = "V3";
INST "bruteforcer/G1[2].G2[1].md5_core*" AREA_GROUP = "V4";

